@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-decoration: none;
 list-style: none;
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: #D6E1F0;
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
/*=============================== */
/*=============================== */
.img-container {
    background-color: #fff;
    display: flex;
    max-width: 25em;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow:0 4px 8px 0 rgba(190, 223, 236, 0.2), 0 6px 20px 0 rgba(136, 133, 133, 0.19);
}
.img-container img {
 max-width: 100%;
 border-radius: 25px;
 padding: 15px;
}
/* ============================== */
/*  ============================= */
.text-container {
  max-width: 25em;
  background-color: #fff;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  box-shadow:0 4px 8px 0 rgba(190, 223, 236, 0.2), 0 6px 20px 0 rgba(136, 133, 133, 0.19);
}
.text-container h1 {
    text-align: center;
    font-size: 1.6rem;
    color: hsl(218, 44%, 22%);
    margin-bottom: 1em;
  } 
.text-container p {
    color: hsl(216, 3%, 70%);
    text-align: center;
    margin-bottom: 3em;
    margin-left: 3.5em;
    margin-right: 3.5em;
  }
 /* ============================== */
/*  ============================= */
.text-container a {
  color: hsl(216, 3%, 70%);
}
.text-container a:hover {
font-size: 18px;
}
